<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular JS</title>
    <script src="angular.min.js"></script>
    <script src="Application.js"></script>
    <style>
        .product
        {
            border: 1px black solid;
            width:  320px;
            padding: 10px;
            margin: 10px;
            float: left;
        }
        .cart
        {
            border: 1px black solid;
            width: 320px;
            margin: 10px;
            float: left;
        }
    </style>

</head>
<body ng-app="myApp">
<div ng-controller="myController">
    <div class="product">
        <h3>Products</h3>
    <div ng-repeat="item in products">
        <p>{{item.name}}</p>
        <p>{{item.price}}</p>
        <input type="button" value="Add to Cart" ng-click="addToCart(item)">

    </div>
    </div>

    <div class="cart">
        <h3>Cart</h3>
        <div ng-repeat="products in cart">

            <p>{{products.name}} -- <input type="number" ng-value="products.qty"></p>
            <p>{{products.price}}</p>

        </div>
        <div>
            <h3>Total: {{total}}</h3>
        </div>

    </div>

</div>

</body>
</html>